<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmmplb.sharding.sphere.dao.UserMapper">

    <sql id="base_column">
        <!-- @sql select -->
        u.`id`,
        u.`name`,
        u.`create_time`
        <!-- @sql from `user_0` u -->
    </sql>

    <sql id="base_select">
        select
        <include refid="base_column"/>
        from `user_0` u
    </sql>

    <select id="selectByPaged" resultType="com.cmmplb.sharding.sphere.entity.User">
        select
        <include refid="base_column"/>
        from `user_0` u
    </select>
</mapper>