<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.cmmplb.mybatis.plus.dao.TagMapper">
    <sql id="base_column">
        <!-- @sql select -->
        t.`id`,
        t.`name`,
        t.`create_time`,
        t.`create_by`,
        t.`update_time`,
        t.`update_by`,
        t.`deleted`
        <!-- @sql from `tag` t -->
    </sql>

    <sql id="base_select">
        select
        <include refid="base_column"/>
        from `tag` t
    </sql>

    <select id="selectById" resultType="io.github.cmmplb.mybatis.plus.entity.Tag">
        <include refid="base_select"/>
        where t.`id` = #{id}
    </select>

    <select id="selectByUserId" resultType="io.github.cmmplb.mybatis.plus.entity.Tag">
        select
        <include refid="base_column"/>
        from `user_tag` ut
        left join `tag` t on t.`id` = ut.`tag_id` and t.`deleted` = 0
        where ut.`user_id` = #{userId}
    </select>
</mapper>