<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

</head>
<script src="/static/js/jquery-3.3.1.js"></script>
<!-- 引入jquery的在线包 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<body>
<div id="main">

</div>
<a href="javascript:void(0);" onclick="hrefLog()">跳转到控制台日志</a>
<a href="javascript:void(0);" onclick="hrefRoom()">跳转到聊天室</a>
<a th:text="${username} == null ? '': '注销'" href="/chat/room/index"></a>

</body>

<script>
    // service.get();
    /*$(document).ready(function () {
        let token = window.localStorage.getItem("token");
        if (!token) window.location.href = contextPath + '/login/index';
    });*/

    function hrefLog() {
        window.location.href = '/log/index';
    }

    function hrefRoom() {
        window.location.href = '/chat/room/index';
    }
</script>
</html>