<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <style type="text/css">
        .vertical-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-3.3.5.css">
    <script src="/static/js/bootstrap-3.3.5.js"></script>
</head>
<body>
<div id="main" class="container vertical-center">
    <div class="col-md-6 col-md-offset-3">
        <form>
            <h2>登录</h2>
            <label for="username" class="sr-only">username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="username" required
                   autofocus/>

            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required/>

            <label for="login_button" class="sr-only">login</label>
            <button id="login_button" class="btn btn-lg btn-primary btn-block" type="button">login</button>
        </form>
    </div>
</div>
</body>
<script>
    $('#login_button').click(function () {
        console.log("login_button");
        let username = $('username').val();
        let password = $('password').val();
        $.post('/login/do',
            {
                username: username,
                password: password
            }
            , function (res) {
                console.log(res);
                window.localStorage.setItem("token", res.data.token);
                window.localStorage.setItem("userId", res.data.userId);
                window.localStorage.setItem("username", res.data.username);
                window.location.href = '/';
            });
    });
</script>
</html>