<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>流程实例</title>
    <!-- 引入vue -->
    <script src="/js/vue-2.7.15.js"></script>
    <!-- 引入element ui -->
    <link rel="stylesheet" href="/integration/element-ui/css/index.css">
    <script src="/integration/element-ui/js/element-ui.js"></script>
    <!-- 引入axios -->
    <script src="/js/axios.js"></script>
    <!-- 引入公共css样式 -->
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>
    <div id="app">
        <div>
            <!-- 搜索区域 -->
            <el-card class="search" shadow="always">
                <!-- 搜索表单区域 -->
                <!-- inline 属性可以让表单域变为行内的表单域 -->
                <el-form inline :model="searchForm" class="search-form" size="small">
                    <el-row>
                        <el-col :span="4">
                            <el-form-item label="关键词">
                                <el-input v-model="searchForm.keywords" clearable placeholder="名称"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item>
                                <el-button type="primary" icon="el-icon-search" @click="handlerSearch">查 询</el-button>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-card>

            <el-card class="content" shadow="always">
                <!-- 表格 -->
                <el-table stripe border v-loading="loading" :data="data" align="center" style="width: 100%;">
                    <!-- 表头 -->
                    <el-table-column label="序号" type="index" width="100" :resizable="false" align="center">
                    </el-table-column>
                    <template v-for="(column, index) in columns">
                        <el-table-column :key="index" :prop="column.prop" :label="column.label" :width="column.width"
                            align="center" :show-overflow-tooltip="column.showOverflowTooltip">
                        </el-table-column>
                    </template>
                    <!-- 按钮 -->
                    <el-table-column fixed="right" align="center" label="操作" width="220">
                        <template v-slot="scope">
                            <el-button icon="el-icon-s-promotion" @click="handlerProcessChart(scope.row)" type="text"
                                size="small" style="color: rgb(78,193,242)">
                                查看流程进度
                            </el-button>
                            <el-button :icon="scope.row.isSuspended ? 'el-icon-video-play' : 'el-icon-video-pause'"
                                @click="handlerSuspended(scope.row)" type="text" size="small"
                                :style="'color: ' + (scope.row.isSuspended ? 'rgba(70,255,64,0.63)' : 'blue')">
                                {{ scope.row.isSuspended ? '激活' : '挂起'}}
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-card>

            <!-- 分页信息 -->
            <div class='pagination-container'>
                <el-pagination :background="false" :current-page.sync="paginationData.current"
                    :page-size.sync="paginationData.size" layout="total, sizes, prev, pager, next, jumper"
                    :page-sizes="[1, 5, 10, 20, 30, 50]" :total="paginationData.total" v-bind="$attrs"
                    @size-change="handleSizeChange" @current-change="handleCurrentChange">
                </el-pagination>
            </div>

            <!-- 流程进度 -->
            <el-dialog title="流程进度" :visible="visible" width="1100px" :before-close="handleClose">
                <img :src="img">
                <div slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="handleClose">关 闭</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                // 列表表头
                columns: [
                    {
                        prop: 'processDefinitionName',
                        label: '流程名称',
                        width: 180,
                    },
                    {
                        prop: 'taskName',
                        label: '任务名称',
                        width: 180,
                    },
                    {
                        prop: 'startUserName',
                        label: '流程发起人',
                        width: 180,
                    },
                    {
                        prop: 'assigneeName',
                        label: '办理人',
                        width: 180,
                    },
                    {
                        prop: 'businessKey',
                        label: '业务key',
                        width: 180,
                    },
                    {
                        prop: 'endedName',
                        label: '是否结束',
                        width: 180,
                    },
                    {
                        prop: 'startTime',
                        label: '流程启动时间',
                    },
                ],
                // 列表数据
                data: [],
                // 搜索条件
                searchForm: {
                    keywords: ""
                },
                // 分页参数
                paginationData: {
                    size: 10,
                    current: 1,
                    total: 0,
                },
                // 加载状态
                loading: false,
                // 流程进度弹窗状态
                visible: false,
                // 进度图
                img: '',
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            // 搜索
            handlerSearch() {
                this.getData();
            },
            // 挂起/激活
            handlerSuspended(row) {
                this.$confirm('是否确认' + (row.isSuspended ? '激活' : '挂起') + '流程实例？', row.isSuspended ? '激活' : '挂起', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                }).then(() => {
                    let url;
                    if (row.isSuspended) {
                        url = '/process/activate/';
                    } else {
                        url = '/process/suspend/';
                    }
                    axios.post(url + row.id).then(res => {
                        if (res.data.code === 200 && res.data.data) {
                            this.$message.success(row.isSuspended ? '激活成功' : '挂起成功');
                            // 刷新列表
                            this.getData();
                        } else {
                            this.$message.error(res.data.msg);
                        }
                    }).catch((error) => {
                        this.$message.error(error);
                    });
                })
            },
            // 查看流程图进度
            async handlerProcessChart(row) {
                // 打开新页签显示
                // window.open('/process/show/' + row.id, "_blank");
                // 转换流响应到弹窗
                this.visible = true;
                let res = await axios({
                    url: '/process/show/' + row.id,
                    method: 'get',
                    responseType: 'blob'
                });
                this.img = window.URL.createObjectURL(res.data);
            },
            handleClose() {
                this.visible = false;
            },
            // 获取列表
            async getData() {
                this.loading = true;
                let res = await axios.post('/process/paged', { ...this.searchForm, ...this.paginationData });
                if (res.data.code === 200 && res.data.data) {
                    this.data = res.data.data.rows;
                    this.paginationData.total = res.data.data.total;
                } else {
                    this.$message.error(res.data.msg);
                }
                this.loading = false;
            },
            // 页码切换
            pagination(data) {
                this.paginationData = { ...this.paginationData, current: data.current };
                this.getData();
            },
            /**
             * pageSize 改变时会触发
             * @param val 每页条数
             */
            handleSizeChange(val) {
                this.pagination({ current: this.paginationData.currentPage, size: val });
            },
            /**
             * currentPage 改变时会触发
             * @param val 当前页
             */
            handleCurrentChange(val) {
                this.pagination({ current: val, size: this.paginationData.pageSize });
            },
        }
    })
</script>
<style>
</style>

</html>