<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmmplb.mybatis.mapper.dao.UserMapper">
    <cache/>

    <sql id="base_column">
        <!-- @sql select -->
        u.`id`,
        u.`name`,
        u.`sex`,
        u.`mobile`,
        u.`status`,
        u.`create_time`,
        u.`update_time`,
        u.`version`,
        u.`deleted`
        <!-- @sql from `userDetails` u -->
    </sql>

    <sql id="base_select">
        select
        <include refid="base_column"/>
        from `userDetails` u
    </sql>

    <select id="selectList" resultType="com.cmmplb.mybatis.mapper.entity.User">
        <include refid="base_select"/>
    </select>

    <delete id="deleteById">
        delete
        from `userDetails`
        where `id` = #{id}
    </delete>

    <update id="updateById">
        update `userDetails`
        <set>
            `update_time` = now(),
            <if test="tenantId != null">
                `tenant_id` = #{tenantId},
            </if>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="sex != null">
                `sex` = #{sex},
            </if>
            <if test="mobile != null and mobile != ''">
                `mobile` = #{mobile},
            </if>
            <if test="version != null">
                `version` = #{version},
            </if>
            <if test="deleted != null">
                `deleted` = #{deleted},
            </if>
        </set>
        where `id` = #{id}
    </update>

    <select id="selectById" resultType="com.cmmplb.mybatis.mapper.entity.User">
        <include refid="base_select"/>
        where u.`id` = #{id}
    </select>

    <select id="selectByPaged" resultType="com.cmmplb.mybatis.mapper.entity.User">
        <include refid="base_select"/>
    </select>

    <select id="selectByPagedTotal" resultType="java.lang.Long">
        select count(1)
        from `userDetails`
    </select>

    <select id="selectByPagedList" resultType="com.cmmplb.mybatis.mapper.entity.User">
        <include refid="base_select"/>
        limit #{q.start},#{q.size}
    </select>

    <select id="testCurrentUserId" resultType="com.cmmplb.mybatis.mapper.entity.User">
        <include refid="base_select"/>
        where u.id = #{currentUserId}
    </select>
</mapper>