<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Please sign in</title>
  <!-- 这两个css需要翻墙才能访问 -->
  <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->
  <!--<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous"/>-->
  <!-- 提前下载好的 -->
  <link href="/css/bootstrap@4.0.0.css" rel="stylesheet">
  <link href="/css/signin.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <form class="form-signin" method="post" action="/login">
    <h2 class="form-signin-heading">Please sign in</h2>
    <p>
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" name="username" value="admin" class="form-control" placeholder="Username"
             required autofocus>
    </p>
    <p>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" value="123456" class="form-control" placeholder="Password"
             required>
    </p>
    <p class="form-group">
      <label for="graphCode" class="sr-only">GraphCode</label>
      <input type="text" id="graphCode" name="graphCode" class="form-control graph-code" placeholder="图形验证码"
             required
             autofocus>
      <!-- 生成一个0到1之间的随机数。然后乘以10的12次方（即1e12），将随机数范围扩大到0到10的12次方之间 -->
      <img id="imgCode" onclick="this.src='basic/graph/code?uuid=' + getUuid()"
           alt="验证码" src=""/>
      <label>
        <input id="uuid" hidden name="uuid">
      </label>
    </p>
    <p>
      <label>
        <input name="remember-me" type="checkbox"/>
      </label>记住我
    </p>
    <input name="_csrf" type="hidden"
           value="u3Be9lUdPoJpYF0M_rRr198o2QNnc8tnio29otgkJLgNhMOl2UM7wDMsXeFEA2o0mJlfsutO9GEEF_xK677Yku1GRt5st_LB"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
</body>
<script>

  window.onload = function () {
    getUuid();
  }

  function getUuid() {
    const uuid = Math.floor(1e12 * Math.random()).toString();
    console.log('uuid:', uuid)
    setUuid(uuid);
    setImgCode(uuid);
    return uuid;
  }

  function setUuid(uuid) {
    document.getElementById('uuid').value = uuid;
  }

  function setImgCode(uuid) {
    document.getElementById('imgCode').src = 'basic/graph/code?uuid=' + uuid;
  }
</script>
</html>