<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>执行实例</title>
    <!-- 引入vue -->
    <script src="/js/vue-2.7.15.js"></script>
    <!-- 引入element ui -->
    <link rel="stylesheet" href="/integration/element-ui/css/index.css">
    <script src="/integration/element-ui/js/element-ui.js"></script>
    <!-- 引入axios -->
    <script src="/js/axios.js"></script>
    <!-- 引入公共css样式 -->
    <link rel="stylesheet" href="/css/common.css">
</head>

<body>
    <div id="app">
        <div>
            <!-- 搜索区域 -->
            <el-card class="search" shadow="always">
                <!-- 搜索表单区域 -->
                <!-- inline 属性可以让表单域变为行内的表单域 -->
                <el-form inline :model="searchForm" class="search-form" size="small">
                    <el-row>
                        <el-col :span="4">
                            <el-form-item label="关键词">
                                <el-input v-model="searchForm.keywords" clearable placeholder="名称"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item>
                                <el-button type="primary" icon="el-icon-search" @click="handlerSearch">查 询</el-button>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </el-card>

            <el-card class="content" shadow="always">
                <!-- 表格 -->
                <el-table stripe border row-key="executionId" v-loading="loading" :tree-props="treeProps" :data="data"
                    align="center" style="width: 100%;">
                    <!-- 表头 -->
                    <el-table-column label="序号" type="index" width="100" :resizable="false" align="center">
                    </el-table-column>
                    <template v-for="(column, index) in columns">
                        <el-table-column :key="index" :prop="column.prop" :label="column.label" :width="column.width"
                            align="center" :show-overflow-tooltip="column.showOverflowTooltip">
                        </el-table-column>
                    </template>
                </el-table>
            </el-card>
        </div>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                // 列表表头
                columns: [
                    {
                        prop: 'processDefinitionName',
                        label: '流程名称',
                        width: 180,
                    },
                    {
                        prop: 'taskName',
                        label: '任务名称',
                        width: 180,
                    },
                    {
                        prop: 'suspended',
                        label: '是否挂起',
                        width: 180,
                    },
                    {
                        prop: 'active',
                        label: '是否激活',
                        width: 180,
                    },
                    {
                        prop: 'startTime',
                        label: '流程启动时间',
                    },
                ],
                // 列表数据
                data: [],
                // 搜索条件
                searchForm: {
                    keywords: ""
                },
                // 子节点字段
                treeProps: {
                    children: 'children',
                    hasChildren: 'hasChildren'
                },
                // 加载状态
                loading: false,
            }
        },
        mounted() {
            this.getData();
        },
        methods: {
            // 搜索
            handlerSearch() {
                this.getData();
            },
            // 获取列表
            async getData() {
                this.loading = true;
                let res = await axios.get('/process/execution/paged', { ...this.searchForm });
                if (res.data.code === 200 && res.data.data) {
                    this.data = res.data.data;
                } else {
                    this.$message.error(res.data.msg);
                }
                this.loading = false;
            },
        }
    })
</script>
<style>
</style>

</html>