<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href='/static/images/home.jpg' mce_href='/static/images/home.jpg' type="image/x-icon">
    <script>
        let socket;
        console.log('window.WebSocket:');
        if (!window.WebSocket) {
            window.WebSocket = window.MozWebSocket;
        }
        console.log('window.WebSocket:', window.WebSocket);
        if (window.WebSocket) {
            socket = new WebSocket("ws://localhost:18082/ws");
            socket.onmessage = function (event) {
                const ta = document.getElementById('responseText');
                ta.value += event.data + "\r\n";
            };
            socket.onopen = function (event) {
                const ta = document.getElementById('responseText');
                ta.value = "已连接";
            };
            socket.onclose = function (event) {
                const ta = document.getElementById('responseText');
                ta.value = "已关闭";
            };
        } else {
            alert("浏览器不支持WebSocket协议！")
        }

        function send(message) {
            if (!window.WebSocket) {
                return;
            }
            if (socket.readyState === WebSocket.OPEN) {
                socket.send(message);
            } else {
                alert("WebSocket连接没有建立成功！")
            }
        }
    </script>
</head>
<body>
<form onsubmit="return false;">
    <hr color="black"/>
    <h3>客户端发送的信息</h3>
    <label>名字<input type="text" name="uid" value="netty"></label>
    <label>内容<input type="text" name="message" value="hello"></label>
    <br/><input type="button" value="点击发送" onclick="send(this.form.uid.value + ':' + this.form.message.value)">
    <hr color="black"/>
    <h3>服务端返回的应答消息</h3>
    <label for="responseText"></label><textarea id="responseText" style="width: 900px;height: 300px;"></textarea>
</form>
</body>
</html>